@use "../base/variables" as *;

.main-splide {
    height: 735px;
    .splide__pagination {
        bottom: 24%;
        left: 50%;
    }
}

.main-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 735px;
        object-fit: cover;
        object-position: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        bottom: 0;
        background: linear-gradient(to top, $page-bg-color, transparent);
        pointer-events: none;
        z-index: 1;
    }

    &__content {
        width: 100%;
        position: absolute;
        text-align: center;
        color: #fff;
        z-index: 2;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__subtitle,
    &__date {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }

    &__subtitle {
        text-align: left;
    }

    &__title {
        display: inline-flex;
        column-gap: 15px;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__team,
    &__title-dash {
        font-family: "KULAG", sans-serif;
        line-height: 1;
        font-style: normal;
        font-weight: 400;
        font-size: 75px;
        text-transform: uppercase;
    }

    &__btn {
        margin-top: 35px;
    }

    @media (max-width: 834px) {
        &__title {
            font-size: 60px;
        }
    }

    @media (max-width: 500px) {
        &__title-dash {
            display: none;
        }

        &__team,
        &__title-dash {
            font-size: 52px;
        }

        &__title {
            flex-direction: column;
        }

        &__subtitle,
        &__date {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
        }

        &__logo {
            display: flex;
            flex-direction: column;
        }
    }
}
