.age-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: 40px;
    height: 24px;

    &__text {
        font-size: 14px;
        line-height: 16px;
        color: #666666;
    }

    &--active {
        & .age-label__text {
            color: #00923f;
        }
    }
}
