@use "../base/variables" as *;

.floating-panel {
    display: flex;
    background-color: $color-primary;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    color: #ffffff;
    gap: 10px;
    max-width: 1400px;
    min-height: 67px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

    &__item-left,
    &__item-right {
        flex-grow: 1;
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }

    &__item-left {
        column-gap: 50px;
        @media (max-width: 834px) {
            column-gap: 20px;
        }
    }

    &__item-right {
        justify-content: flex-end;
        column-gap: 30px;
    }

    &__clear {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);

        &::before {
            content: url("../assets/icons/floating-clear.svg");
            margin-right: 13px;
            display: inline-block;
            transform: translateY(1px);
        }
    }

    &__total {
        font-family: $font-family-base;
        font-weight: 600;
    }

    &--mobile {
        display: none;
    }

    @media (max-width: 520px) {
        display: none;

        &--mobile {
            display: flex;
            flex-direction: column;
            padding: 12px;
            height: auto;
            gap: 10px;
            border-radius: 0;
        }

        &__info,
        &__total {
            font-size: 14px;
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }

        &__clear {
            &::before {
                margin-right: 0;
            }
        }
    }
}
