@use "../base/variables" as *;

.section-header {
    position: relative;
    &__title {
        padding-left: 20px;
        text-transform: uppercase;
        color: #fff;
        font-family: "KULAG", sans-serif;
        font-weight: 400;
        font-size: 52px;
        line-height: 1;

        &::before {
            content: "";
            width: 3px;
            height: 100%;
            background-color: $color-primary;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

}
