@use "../base/variables" as *;

.select {
    position: relative;
    width: 100%;
    height: 44px;
    font-family: $font-family-book;

    &__selected {
        padding: 14px 16px;
        background-color: #fafafa;
        border-radius: 7px;
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.02em;
        color: #666666;
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        gap: 10px;

        &::after {
            content: "";
            display: inline-block;
            width: 9.38px;
            height: 5px;
            background-image: url("../assets/icons/dropdown.svg");
            background-size: contain;
            background-repeat: no-repeat;
            transition: transform 0.3s;
        }

        &.select__selected--active::after {
            transform: rotate(-180deg);
        }
    }

    &__container {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 3;
        overflow: hidden;
    }

    &__options {
        max-height: 100px;
        display: none;
        overflow-y: auto;

        // Стили для скроллбара
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-primary;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-secondary;
        }

        &::-webkit-scrollbar-track {
            background-color: #e9e9e9;
            border-radius: 10px;
        }

        .select__option {
            padding: 12px 15px;
            font-size: 16px;
            height: 44px;
            color: #222;
            cursor: pointer;
            font-family: $font-family-base;
            font-weight: 400;
            transition: $transition-slow;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background-color: #e9e9e9;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #e9e9e9;
            }
        }
    }

    &--open &__container,
    &--open &__options {
        display: block;
    }
}
