<!-- Start buttons -->
<button class="button button--cta">Выбрать билеты</button>
<button class="button button--tickets">
    Выбрать билеты
    <span class="button__icon button__icon--tickets-right"></span>
</button>
<button class="button button--outline">Заказать звонок</button>
<button class="button button--outline">
    Заказать звонок
    <span class="button__icon button__icon--outline-right"></span>
</button>
<a href="#!" class="button button--link"
    >Показать еще <span class="button__icon button__icon--link"></span
></a>
<!-- End buttons -->
