<!-- Start floating order panel -->
<div class="floating-panel">
    <div class="floating-panel__item-left">
        <span class="floating-panel__info">Билеты: не выбраны</span>
        <span class="floating-panel__info">Парковка: 1 место</span>
        <button class="floating-panel__clear">Очистить</button>
    </div>
    <div class="floating-panel__item-right">
        <span class="floating-panel__total">Итого: 1 200₽</span>
        <button class="button button--outline">
            Оформить заказ
            <span class="button__icon button__icon--outline-right"></span>
        </button>
    </div>
</div>
<div class="floating-panel">
    <div class="floating-panel__item-left">
        <span class="floating-panel__info">Выбраны билеты: 2 шт.</span>
        <span class="floating-panel__info">Парковка: без парковки</span>
        <button class="floating-panel__clear">Очистить</button>
    </div>
    <div class="floating-panel__item-right">
        <span class="floating-panel__total">Итого: 16 200₽</span>
        <button class="button button--outline">
            Оформить заказ
            <span class="button__icon button__icon--outline-right"></span>
        </button>
    </div>
</div>
<div class="floating-panel">
    <div class="floating-panel__item-left">
        <span class="floating-panel__info">Выбраны билеты: 2 шт.</span>
        <span class="floating-panel__info">Парковка: 2 места</span>
        <button class="floating-panel__clear">Очистить</button>
    </div>
    <div class="floating-panel__item-right">
        <span class="floating-panel__total">Итого: 8 200₽</span>
        <button class="button button--outline">
            Оформить заказ
            <span class="button__icon button__icon--outline-right"></span>
        </button>
    </div>
</div>
<!-- Mobile-->
<div class="floating-panel floating-panel--mobile">
    <div class="floating-panel__top">
        <span class="floating-panel__info">Билеты: 2</span>
        <span class="floating-panel__info">Парковка: 2</span>
        <span class="floating-panel__total">Итого: 1 200₽</span>
        <button class="floating-panel__clear"></button>
    </div>
    <button class="button button--outline">
        Оформить заказ
        <span class="button__icon button__icon--outline-right"></span>
    </button>
</div>
<!-- End floating order panel -->
