<!-- Start select -->
<div class="select" data-select id="citySelect">
    <div class="select__selected" data-select-selected>Город</div>
    <div class="select__container" data-select-options>
        <div class="select__options">
            <div class="select__option" data-select-option data-value="kazan">
                Казань
            </div>
            <div class="select__option" data-select-option data-value="moscow">
                Москва
            </div>
            <div
                class="select__option"
                data-select-option
                data-value="krasnodar"
            >
                Краснодар
            </div>
            <div
                class="select__option"
                data-select-option
                data-value="voronezh"
            >
                Воронеж
            </div>
        </div>
    </div>
</div>
<!-- End select -->
