@use "base/fonts";
@use "base/variables" as *;
@use "base/reset";

// UI
@use "ui/buttons";
@use "ui/input";
@use "ui/select";
@use "ui/checkbox";
@use "ui/floating-panel";
@use "ui/navbar";
@use "ui/sidebar";
@use "ui/info-label";
@use "ui/footer";
@use "plugins/splidejs.scss";

// Components
@use "components/event-tickets";
@use "components/main-splide";
@use "components/events-filtered";

// @use 'utils/mixins';
// @import 'utils/functions';

// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/footer';

// @import 'components/button';
// @import 'components/card';
// @import 'components/modal';

// @import 'pages/home';
// @import 'pages/about';

body {
    font-family: $font-family-base;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: $page-bg-color;
}

.no-scroll {
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $page-bg-color;
}

.main {
    flex-grow: 1;
    margin-top: -70px; // Высота navbar
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 15px;

    // page main
    &--main {
        margin-top: -125px;
        @media (max-width: 390px) {
            padding: 0;
        }
    }
}

.events-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    &__link {
        margin: 22px auto 6px;
    }
}

.navbar {
    &.scrolled {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
    }
}
