@use "base/fonts";
@use "base/variables" as *;
@use "base/reset";

// UI
@use "ui/buttons";
@use "ui/input";
@use "ui/select";
@use "ui/checkbox";
@use "ui/floating-panel";
@use "ui/navbar";
@use "ui/info-label";
@use "ui/footer";

// Components
@use "components/event-tickets";

// @use 'utils/mixins';
// @import 'utils/functions';

// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/footer';

// @import 'components/button';
// @import 'components/card';
// @import 'components/modal';

// @import 'pages/home';
// @import 'pages/about';

body {
    font-family: $font-family-base;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: $body-bg;
}

.no-scroll {
    overflow: hidden;
}
