@charset "UTF-8";
@font-face {
  font-family: "Suisse Intl";
  src: url("../assets/fonts/SuisseIntl-SemiBold.woff2") format("woff2"), url("../assets/fonts/SuisseIntl-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl Book";
  src: url("../assets/fonts/SuisseIntl-Book.woff2") format("woff2"), url("../assets/fonts/SuisseIntl-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("../assets/fonts/SuisseIntl-Bold.woff2") format("woff2"), url("../assets/fonts/SuisseIntl-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("../assets/fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../assets/fonts/SuisseIntl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KULAG";
  src: url("../assets/fonts/KULAG-Regular.woff2") format("woff2"), url("../assets/fonts/KULAG-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.button {
  padding: 14px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  transition: background-color 0.5s ease, color 0.5s ease;
  line-height: normal;
}
.button--cta {
  background-color: #c8122d;
  color: #fff;
  border: 1px solid #c8122d;
}
.button--cta:hover {
  background-color: #8c0d20;
}
.button--tickets {
  color: #c8122d;
}
.button--tickets:hover {
  background-color: #f9e7ea;
}
.button--outline {
  color: #fff;
  border: 1px solid #fff;
}
.button--outline:hover {
  background-color: #fff;
  color: #c8122d;
}
.button--link {
  color: #c8122d;
  padding: 0;
}
.button--link:hover {
  color: #8c0d20;
}
.button .button__icon {
  width: 14px;
  height: 12px;
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.button .button__icon--tickets-right {
  background-image: url("../assets/icons/arrow-right.svg");
}
.button .button__icon--outline-right {
  -webkit-mask-image: url(../assets/icons/arrow-outline-right.svg);
          mask-image: url(../assets/icons/arrow-outline-right.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button .button__icon--link {
  width: 12px;
  -webkit-mask-image: url(../assets/icons/arrow-down-right.svg);
          mask-image: url(../assets/icons/arrow-down-right.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #c8122d;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button:hover .button__icon--outline-right {
  background-color: #c8122d;
}
.button:hover .button__icon--link {
  background-color: #8c0d20;
}
@media (max-width: 520px) {
  .button {
    width: 100%;
    font-size: 14px;
    justify-content: center;
  }
}

.input {
  width: 100%;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 7px;
}
.input__field {
  padding: 14px 16px;
  padding-left: 44px;
  width: 100%;
  border: none;
  border-radius: 7px;
  outline: none;
  color: #222;
  background-color: #fafafa;
}
.input__field::-moz-placeholder {
  font-family: "Suisse Intl Book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #666666;
}
.input__field::placeholder {
  font-family: "Suisse Intl Book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #666666;
}
.input__icon {
  position: absolute;
  left: 16px;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.input__icon--search {
  background-image: url("../assets/icons/input-search.svg");
}
.input__icon--date {
  background-image: url("../assets/icons/input-date.svg");
}
.input__icon--clear {
  display: none;
  width: 10px;
  height: 10px;
  background-image: url("../assets/icons/input-clear.svg");
  left: calc(100% - 26px);
}
.input--filled .input__icon--clear {
  display: block;
}

.select {
  position: relative;
  width: 100%;
  height: 44px;
  font-family: "Suisse Intl Book", sans-serif;
}
.select__selected {
  padding: 14px 16px;
  background-color: #fafafa;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}
.select__selected::after {
  content: "";
  display: inline-block;
  width: 9.38px;
  height: 5px;
  background-image: url("../assets/icons/dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}
.select__selected.select__selected--active::after {
  transform: rotate(-180deg);
}
.select__container {
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 3;
  overflow: hidden;
}
.select__options {
  max-height: 100px;
  display: none;
  overflow-y: auto;
}
.select__options::-webkit-scrollbar {
  width: 4px;
}
.select__options::-webkit-scrollbar-thumb {
  background-color: #c8122d;
  border-radius: 10px;
}
.select__options::-webkit-scrollbar-thumb:hover {
  background-color: #8c0d20;
}
.select__options::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  border-radius: 10px;
}
.select__options .select__option {
  padding: 12px 15px;
  font-size: 16px;
  height: 44px;
  color: #222;
  cursor: pointer;
  font-family: "Suisse Intl", sans-serif;
  font-weight: 400;
  transition: background-color 0.5s ease, color 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select__options .select__option:hover {
  background-color: #e9e9e9;
}
.select__options .select__option:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}
.select--open .select__container, .select--open .select__options {
  display: block;
}

.checkbox {
  display: flex;
  cursor: pointer;
}
.checkbox__input {
  display: none;
}
.checkbox__box {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 3px 10px 0 0;
  position: relative;
  background-color: #e2e2e2;
  transition: background-color 0.5s ease, color 0.5s ease;
  flex-shrink: 0;
}
.checkbox__text {
  font-family: "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #999;
  line-height: 1.2;
}
.checkbox__text a {
  text-decoration: underline;
}
.checkbox__input:checked + .checkbox__box {
  background-color: #c8122d;
  background-image: url("../assets/icons/checkbox-check.svg");
  background-size: 9px 6px;
  background-position: center;
  background-repeat: no-repeat;
}

.floating-panel {
  display: flex;
  background-color: #c8122d;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  color: #ffffff;
  gap: 10px;
  max-width: 1400px;
  min-height: 67px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.floating-panel__item-left, .floating-panel__item-right {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.floating-panel__item-left {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 834px) {
  .floating-panel__item-left {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.floating-panel__item-right {
  justify-content: flex-end;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.floating-panel__clear {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
.floating-panel__clear::before {
  content: url("../assets/icons/floating-clear.svg");
  margin-right: 13px;
  display: inline-block;
  transform: translateY(1px);
}
.floating-panel__total {
  font-family: "Suisse Intl", sans-serif;
  font-weight: 600;
}
.floating-panel--mobile {
  display: none;
}
@media (max-width: 520px) {
  .floating-panel {
    display: none;
  }
  .floating-panel--mobile {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: auto;
    gap: 10px;
    border-radius: 0;
  }
  .floating-panel__info, .floating-panel__total {
    font-size: 14px;
  }
  .floating-panel__top {
    display: flex;
    justify-content: space-between;
  }
  .floating-panel__clear::before {
    margin-right: 0;
  }
}

.navbar {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
  padding: 22px 30px;
  background-color: transparent;
  height: 70px;
  z-index: 5;
  position: sticky;
  top: 0;
  transition: background-color 0.5s ease, -webkit-backdrop-filter 0.5s ease;
  transition: backdrop-filter 0.5s ease, background-color 0.5s ease;
  transition: backdrop-filter 0.5s ease, background-color 0.5s ease, -webkit-backdrop-filter 0.5s ease;
}
.navbar--dark {
  background: rgba(17, 17, 17, 0.75);
}
.navbar.scrolled {
  background: rgba(35, 35, 35, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navbar__logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  z-index: 9;
  flex-shrink: 0;
}
.navbar__logo-icon {
  width: 36px;
  height: 28px;
}
.navbar__logo-text {
  color: #c8122d;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar__right {
  z-index: 9;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar__divider {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.navbar__menu-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.navbar__menu-item::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar__menu-item--active {
  color: #c8122d;
}
.navbar__menu-item--active::before {
  background-color: #c8122d;
}
.navbar__menu-item:hover::before {
  background-color: #ffffff;
}
.navbar__cart {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: -moz-max-content;
  width: max-content;
  height: 30px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.navbar__cart-icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.navbar__cart-text {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5px;
}
.navbar__cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background: #c8122d;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  flex-shrink: 0;
}
.navbar__icons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.navbar__icons-item {
  width: 34px;
  height: 34px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.navbar__icons-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.navbar__icons-item:last-child {
  display: none;
}
.navbar [data-icon] {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.navbar [data-icon][data-icon=menu] {
  background-image: url("../assets/icons/menu.svg");
}
.navbar [data-icon][data-icon=close] {
  background-image: url("../assets/icons/close.svg");
}
@media (max-width: 1200px) and (min-width: 834px) {
  .navbar__logo-text {
    display: none;
  }
  .navbar__cart-text {
    display: none;
  }
  .navbar__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 834px) {
  .navbar {
    padding: 22px 15px;
  }
  .navbar__logo-text {
    display: block;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__icons-item:last-child {
    display: block;
  }
}
@media (max-width: 520px) {
  .navbar {
    padding: 22px 15px;
  }
  .navbar__logo {
    width: 28px;
    height: 21px;
  }
  .navbar__logo-text {
    display: none;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__cart-text {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  padding: 100px 15px;
  transition: right 0.3s ease;
  z-index: 4;
}
.sidebar[data-panel=open] {
  right: 0;
}
.sidebar__menu-item {
  color: #fff;
  font-weight: 600;
  line-height: 12px;
  text-transform: uppercase;
}
.sidebar__menu-item--active {
  color: #c8122d;
}
.sidebar__divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.info-label {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f8f8f8;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: inline-block;
  cursor: default;
}
.info-label__text {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  display: inline-block;
}
.info-label--active .info-label__text {
  color: #00923f;
}
.info-label__icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-label--icon {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 45px;
  gap: 40px;
}
.footer__sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.footer__list:last-child {
  font-size: 10px;
}
.footer__divider {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
}
.footer__link--underlined {
  text-decoration: underline;
}
.footer__sections nav:last-child .footer__link {
  font-size: 10px;
}
.footer__text {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer__requisites {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.footer__payments {
  margin: 20px auto 0;
  background-image: url("../assets/icons/payments.svg");
  width: 200px;
  height: 40px;
}
@media (max-width: 834px) {
  .footer {
    padding: 80px 15px;
  }
}
.tabs {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding-bottom: 8px;
  scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}
.tabs::-webkit-scrollbar {
  display: none; /* Скрываем скроллбар в WebKit-браузерах */
}
.tabs__link {
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  color: #111;
  padding: 0 0 11px;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: block;
}
.tabs__link:hover {
  color: #c8122d;
}
.tabs__link--active {
  color: #c8122d;
}
.tabs__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #c8122d;
}

.section-header {
  position: relative;
}
.section-header__title {
  padding-left: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: "KULAG", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1;
}
.section-header__title::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #c8122d;
  position: absolute;
  left: 0;
  top: 0;
}

.splide {
  width: 100%;
  height: 100%;
  position: relative;
}
.splide__track {
  overflow: hidden;
}
.splide__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.splide__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide__pagination {
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}
.splide__pagination li {
  display: flex;
  flex-shrink: 0;
}
.splide__pagination li button {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.splide__pagination li button.is-active {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.8);
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.event-tickets {
  display: flex;
  max-height: 110px;
}
.event-tickets__wrap {
  display: flex;
  flex-grow: 1;
}
.event-tickets__datetime, .event-tickets__details, .event-tickets__actions {
  border-radius: 10px;
  background-color: #fff;
  padding: 24px 30px;
  overflow: hidden;
  border-style: solid;
  border-color: #e7e7e7;
}
.event-tickets__datetime {
  border-width: 1px 0 1px 1px;
}
.event-tickets__details {
  border-width: 1px 0 1px 0;
  flex-grow: 1;
}
.event-tickets__actions {
  border-width: 1px 1px 1px 0;
}
.event-tickets__datetime, .event-tickets__details {
  position: relative;
}
.event-tickets__datetime::after, .event-tickets__details::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-image: url("../assets/images/vertical-dashed-line.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;
}
.event-tickets__day {
  margin-bottom: 5px;
  text-align: center;
  display: block;
}
.event-tickets__day, .event-tickets__title {
  font-family: "KULAG", sans-serif;
  font-size: 34px;
  line-height: 1;
  text-transform: uppercase;
  color: #c8122d;
  font-weight: 400;
  margin-bottom: 5px;
}
.event-tickets__time {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #222222;
  display: block;
}
.event-tickets__details {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.event-tickets__info {
  flex-grow: 1;
}
.event-tickets__location {
  display: inline-flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  align-items: center;
  margin-right: 22px;
}
.event-tickets__team-logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.event-tickets__team-logo--mobile {
  display: none;
}
.event-tickets__labels {
  display: inline-flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.event-tickets__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.event-tickets__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: center;
}
@media (max-width: 1200px) {
  .event-tickets {
    flex-wrap: wrap;
    max-height: 100%;
  }
  .event-tickets__border-bottom {
    width: 100%;
    height: 1px;
    margin: 0 10px;
    z-index: 1;
    position: relative;
  }
  .event-tickets__border-bottom::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: url("../assets/images/horizontal-dashed-line.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
  }
  .event-tickets__border-bottom--mobile {
    display: none;
  }
  .event-tickets__actions {
    flex-grow: 1;
    border-width: 0 1px 1px 1px;
    border-radius: 10px;
    padding: 10px 30px;
    justify-content: center;
  }
  .event-tickets__datetime {
    border-width: 1px 0 0 1px;
    border-radius: 10px 0 0 10px;
  }
  .event-tickets__details {
    border-width: 1px 1px 0 0;
    border-radius: 0 10px 10px 0;
  }
  .event-tickets__datetime::after, .event-tickets__details::after {
    background-image: none;
  }
}
@media (max-width: 834px) {
  .event-tickets__wrap {
    flex-wrap: wrap;
  }
  .event-tickets__border-bottom--mobile {
    display: block;
  }
  .event-tickets__datetime {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 1px 0 1px;
    border-radius: 10px;
  }
  .event-tickets__details {
    border-width: 0 1px 0 1px;
    border-radius: 10px;
  }
  .event-tickets__team-logo {
    display: none;
  }
  .event-tickets__team-logo--mobile {
    display: flex;
    width: 22px;
    height: 22px;
  }
  .event-tickets__datetime, .event-tickets__details, .event-tickets__actions {
    padding: 20px;
  }
  .event-tickets__location {
    margin-bottom: 8px;
  }
  .event-tickets__labels {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .event-tickets__datetime-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 390px) {
  .event-tickets__border-bottom::after {
    background-image: url("../assets/images/horizontal-dashed-line.png");
  }
}

.main-splide {
  height: 735px;
}
.main-splide .splide__pagination {
  bottom: 24%;
  left: 50%;
}

.main-slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-slide__image {
  width: 100%;
  height: 735px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-slide__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  z-index: 2;
}
.main-slide::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: linear-gradient(to top, #000, transparent);
  pointer-events: none;
  z-index: 1;
}
.main-slide__content {
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 2;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-slide__subtitle, .main-slide__date {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.main-slide__subtitle {
  text-align: left;
}
.main-slide__title {
  display: inline-flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.main-slide__team, .main-slide__title-dash {
  font-family: "KULAG", sans-serif;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  text-transform: uppercase;
}
.main-slide__btn {
  margin-top: 35px;
}
@media (max-width: 834px) {
  .main-slide__title {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main-slide__title-dash {
    display: none;
  }
  .main-slide__team, .main-slide__title-dash {
    font-size: 52px;
  }
  .main-slide__title {
    flex-direction: column;
  }
  .main-slide__subtitle, .main-slide__date {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .main-slide__logo {
    display: flex;
    flex-direction: column;
  }
}

.events-filtered {
  background: #ffffff;
  border-radius: 14px;
  position: relative;
  z-index: 1;
}
.events-filtered__tabs {
  width: 100%;
  padding: 25px 0 0 25px;
  overflow: hidden;
}
.events-filtered__filters {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.events-filtered__list {
  padding: 25px;
}
.events-filtered__items {
  padding: 25px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
@media (max-width: 834px) {
  .events-filtered__items {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .events-filtered__item:first-child, .events-filtered__item:last-child {
    grid-column: span 2;
  }
}
@media (max-width: 390px) {
  .events-filtered__list {
    padding: 15px;
  }
  .events-filtered__items {
    padding: 15px;
  }
  .events-filtered__tabs {
    padding: 15px 0 0 15px;
  }
}

.special-offers {
  background-color: transparent;
  color: #fff;
  padding-top: 135px;
}
.special-offers__list {
  margin-top: 58px;
  display: flex;
  gap: 45px;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.special-offers .special-offer {
  background-color: transparent;
  overflow: hidden;
  border-radius: 10px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.special-offers .special-offer__image {
  width: 100%;
  height: 250px;
  display: block;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.special-offers .special-offer__title {
  font-family: "KULAG", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
}
.special-offers .special-offer__description {
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}
.special-offers .special-offer__button-icon {
  -webkit-mask-image: url("../assets/icons/arrow-right-primary.svg");
          mask-image: url("../assets/icons/arrow-right-primary.svg");
}
@media (max-width: 1200px) {
  .special-offers .special-offer {
    max-width: 100%;
  }
  .special-offers .special-offer__image {
    height: 200px;
  }
}
@media (max-width: 834px) {
  .special-offers .special-offer {
    gap: 20px;
  }
  .special-offers .special-offer__link {
    justify-content: flex-start;
  }
}
@media (max-width: 1200px) {
  .special-offers__list {
    gap: 25px;
  }
}
@media (max-width: 834px) {
  .special-offers__list {
    gap: 35px;
    flex-wrap: wrap;
  }
}

.ticket-purchase {
  background: url("../assets/images/stadium-background.jpg") no-repeat center/cover;
  color: #fff;
  padding-top: 300px;
  position: relative;
  overflow: hidden;
  margin-top: -150px;
}
.ticket-purchase::before, .ticket-purchase::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
  pointer-events: none;
  z-index: 1;
}
.ticket-purchase::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}
.ticket-purchase::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}
.ticket-purchase__header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
  position: relative;
  z-index: 2;
}
.ticket-purchase__title {
  font-family: "KULAG", serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 36px;
}
@media (max-width: 390px) {
  .ticket-purchase__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.ticket-purchase__description, .ticket-purchase__subtext {
  line-height: 1.3;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 390px) {
  .ticket-purchase__description, .ticket-purchase__subtext {
    font-size: 14px;
  }
}
.ticket-purchase__subtext {
  margin-top: 30px;
}
@media (max-width: 390px) {
  .ticket-purchase__subtext {
    margin-top: 20px;
  }
}
.ticket-purchase__actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 36px;
  z-index: 2;
  position: relative;
}
@media (max-width: 390px) {
  .ticket-purchase__actions {
    flex-wrap: wrap;
  }
}
.ticket-purchase__features {
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
  position: relative;
}
@media (max-width: 1200px) {
  .ticket-purchase__features {
    flex-wrap: wrap;
  }
}
.ticket-purchase__features .feature {
  flex-basis: 260px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.14);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 8px;
}
.ticket-purchase__features .feature__icon {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.ticket-purchase__features .feature__text {
  line-height: 1.1;
}
@media (max-width: 834px) {
  .ticket-purchase__features .feature {
    flex-basis: 100%;
  }
}
@media (max-width: 834px) {
  .ticket-purchase {
    padding-top: 230px;
  }
}

body {
  font-family: "Suisse Intl", sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  background-color: #000;
}

.no-scroll {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}

.main {
  flex-grow: 1;
  margin-top: -70px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--filter {
  margin-top: -125px;
}
@media (max-width: 390px) {
  .container--filter {
    padding: 0;
  }
}

.events-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.events-container__link {
  margin: 22px auto 6px;
}/*# sourceMappingURL=main.css.map */